<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<ul>
	<li><%= link_to "Connect With linkedin", "/auth/linkedin" %></li>
	<li><%= link_to "Connect With simple email", "/auth/developer" %></li>
</ul>
<pre><%= @sessions.to_yaml %></pre>
